DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/it_db
REDIS_URL=redis://localhost:6379/0
SECRET_KEY=kOW5AGbmy4R--RfcPITPcglt-8Yladp_-66lvS2OR8p53G6Ubr86gAtES2pqkaQ-Ku-Tjs2U1-TnOfD9f9dCrQ

# 채용 사이트 API Keys
SARAMIN_API_KEY=
JOBKOREA_API_KEY=
WANTED_API_KEY=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

ALLOWED_ORIGINS=["http://localhost:3000"]
